body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.footer {
  background-color: #1f2937;
  color: #e5e7eb;
  font-size: 18px;
  height: 1em;
  padding: 3em 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  background-color: #1f2937;
  height: 5%;
  padding: 1% 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-text {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 5%;
}

.illustration {
  width: 200px;
  height: 200px;
  border: 0.4em solid #3882f6;
  border-radius: 20px;
}

.img-placeholder {
  background-color: gray;
  color: #e5e7eb;
  width: 100%;
  height: 250px;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  color: #f9faf8;
  font-size: 24px;
  font-weight: 800;
}

.main-button {
  background-color: #3882f6;
  color: #f9faf8;
  font-size: 20px;
  font-weight: 800;
  padding: 0.5em 2em;
  border: none;
  border-radius: 10px;
  max-width: 8em;
  flex: 0;
}

.nav {
  list-style-type: none;
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
  margin-left: auto;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1em;
}

.quote {
  color: #1f2937;
  font-size: 36px;
  font-weight: 300;
  font-style: italic;
  text-align: justify;
}

.quote-author {
  color: #1f2937;
  font-size: 18px;
  font-weight: 800;
  align-self: flex-end;
}

.row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 10%;
}

.row-item {
  color: #1f2937;
  font-size: 18px;
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#hero {
  background-color: #1f2937;
  padding: 8% 15%;
  display: flex;
  justify-content: space-evenly;
}

#hero h1 {
  color: #f9faf8;
  font-size: 48px;
  font-weight: 800;
  margin: 0;
}

#hero p {
  color: #e5e7eb;
  font-size: 18px;
  max-width: 80%;
  margin: 0;
}

#info {
  padding: 4% 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  gap: 4em;
}

#info h2 {
  color: #1f2937;
  font-size: 36px;
  font-weight: 800;
  margin: 0 auto;
}

#quote {
  background-color: #e5e7eb;
  padding: 10em 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 1em;
}